-e .
backports.asyncio.runner==1.1.0; python_version < "3.11"
black==25.1.0
bandit==1.8.5
coverage==7.9.1
docutils==0.21.2
flake8==7.2.0
mypy==1.16.1
pyroma==4.2
pytest-cov==6.2.1
pytest==8.4.0
pytest-asyncio==1.0.0
pytest-codspeed==3.2.0
isort==6.0.1
tox==4.27.0
wheel==0.46.1
