-e .
backports.asyncio.runner==1.2.0; python_version < "3.11"
black==25.11.0
bandit==1.8.6
coverage==7.10.6
docutils==0.22.4
flake8==7.3.0
mypy==1.19.1
pyroma==5.0.1
pytest-cov==7.0.0
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-codspeed==4.3.0
isort==6.1.0
tox==4.30.3
wheel==0.46.3
