-e .
backports.asyncio.runner==1.1.0; python_version < "3.11"
black==25.1.0
bandit==1.8.3
coverage==7.8.0
docutils==0.21.2
flake8==7.2.0
mypy==1.15.0
pyroma==4.2
pytest-cov==6.1.1
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-codspeed==3.2.0
isort==6.0.1
tox==4.25.0
wheel==0.45.1
